body {
    margin: 0px;
}

iframe {
    border: none;
    padding: 0px;
    margin: 0px;
    width: 100vw !important;
    height: 100vh !important;
}

.container-map {
    background-color: aqua;
    width: 100vw;
    height: 100vh;
}